* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  background: transparent;
}

body {
  background-color: rgb(237, 238, 240);
}

.header {
  background-color: #4a76a8;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
}

header img {
  width: 10px;
  height: 10px;
}

.logo img {
  width: 41px;
  height: 40px;
  margin-left: 343px;
}

.sidebar {
  width: 287px;
  padding: 6px 0;
  background-color: rgb(34, 75, 122);
  border-radius: 15px;
  display: flex;
  align-items: center;
  margin-left: 160px;
}

.sidebar img {
  margin-left: 10px;
  height: 16px;
  width: 16px;
}

.search {
  color: rgb(143, 164, 177);
  margin-left: 10px;
  margin-bottom: 4px;
  font-size: 12px;
}

.twos {
  /* margin-left: 38px; */
  display: flex;
  justify-content: space-evenly;
}

.twos img {
  width: 25px;
  height: 25px;
  margin-left: 40px;
}

.music {
  margin-left: 30px;
}

.im {
  margin-left: 290px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
}

.name {
  display: inline;
  color: #fff;
  font-size: 14px;
}

.man {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  object-fit: cover;
}

main {
  display: flex;
}

.one {
  margin: 25px 25px 9px 350px;
}

.first-nav,
.second-nav,
.third-nav {
  width: 116px;
  color: rgb(40, 84, 155);
}

.third-nav {
  display: flex;
  width: 136px;
  justify-content: space-between;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 12px;
}

nav div ul li img {
  width: 16px;
  top: 2px;
  position: relative;
}

.side {
  width: 100px;
  height: 1px;
  background-color: rgb(223, 226, 232);
  margin: 15px 0 15px 30px;
}

.second-nav {
  width: 100px;
}

.box {
  background-color: rgb(209, 217, 224);
  width: 20px;
  height: 20px;
  text-align: center;
}

.ad {
  margin-top: 20px;
  width: 150px;
}

.ad img {
  width: 150px;
}

a {
  display: block;
  width: 150px;
  text-align: justify;
  text-decoration: none;
}

.ad-text-one {
  font-size: 14px;
  color: rgb(66, 100, 139);
  font-weight: bold;
}

.ad-text-two {
  font-size: 12px;
  color: rgb(147, 161, 190);
  font-weight: bold;
  overflow: hidden;
}

.ad-text-three {
  font-size: 14px;
}

article {
  border: 1px solid #e4e6e9;
  background-color: #fff;
  margin-top: 25px;
}

.header-chat {
  max-width: 687px;
  display: flex;
  align-items: center;
  color: #818d99;
  border-bottom: 1px solid #e4e6e9;
  padding: 15px 20px 10px 30px;
}

.title-chat {
  display: flex;
  flex-direction: column;
  margin-left: 185px;
  margin-right: 130px;
}

.title,
.members {
  text-align: center;
}

.title {
  color: black;
}

.img-for-head {
  display: flex;
  justify-content: flex-start;
}

.img-for-head img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  border-radius: 15px;
  object-fit: cover;
}

.main-chat {
  max-height: 720px;
  overflow: scroll;
}

.main-chat img {
  width: 45px;
  border-radius: 25px;
}

.sms {
  margin-bottom: 20px;
}

.chelovek {
  display: flex;
  margin-left: 40px;
}

.chel-title {
  margin-left: 15px;
  color: #42648b;
  font-weight: bold;
}

.time {
  margin-left: 10px;
  color: #aeb2ba;
}

.text-in-sms-one {
  position: relative;
  right: 138px;
  top: 21px;
}

.text-in-sms-two {
  position: relative;
  right: 159px;
  top: 21px;
}

.second-chel {
  margin: 10px 0 0 106px;
}

.second-chel img {
  margin-left: 15px;
}

.line-in-sms {
  max-height: 88px;
  width: 3px;
  display: inline-block;
  background-color: #dee6ee;
}

.footer {
  border-top: 1px solid #e4e6e9;
}

.footer img {
  width: 30px;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 0 20px 20px;
}

.textarea {
  border: 1px solid #d3d9de;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px 0;
  max-width: 470px;
  display: flex;
  align-items: center;
}

.textarea p {
  margin-right: 190px;
  color: #828282;
  margin-left: 20px;
}

.textarea img {
  margin-right: 18px;
}

.right-from-chat {
  margin-left: 20px;
  margin-top: 25px;
  padding: 20px 114px 10px 30px;
  background-color: #fff;
  border: 1px solid #e4e6e9;
  max-height: 210px;
  max-width: 290px;
}

.right-from-chat ul li {
  margin-bottom: 25px;
  color: #2a5885;
  width: 135px;
}

.right-from-chat .separate {
  width: 250px;
  color: black;
  border-top: 1px solid #aeb2ba;
  background-color: #f0f2f5;
}
